body{

    margin: 0px;
    font-size: 20px;
}
a{
    color: mintcream;
    text-decoration: none;
    
}
header{
    display: flex;
    background-color: black;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 100px;
    margin-right: 13px;
}
nav a{
    font-weight: 600;
    padding-right: 13px;
}
nav a:hover{
    color: greenyellow; 
}
h1 {
    text-align: center;
}
span{
    color: black;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 392ch;

    animation: typing 2s steps(392),
    blink .5s infinite step-end alternate ;
    overflow: hidden;
}
h2{
    text-align: center;
}
h2 a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: black;
}
h2  input{
    height: 21px;
    width: 200px;
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
li{
    text-align: justify;
}
li a{
    color: black;
}
li a:hover{
    color: rgb(76, 137, 252); 

}


@media (max-width: 680px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
@keyframes typing {
    from { width: 0;}
}
@keyframes blink {
    50% { border-color: transparent;}
}
